*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS Reset Above. Custom Code below */

:root {
  --teal-50: #f0fdfa;
  --teal-400: #2dd4bf;
}

.main-wrapper {
  display: grid;
  grid-template: 150px 1fr / 400px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";

  height: 100%;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;

  background-color: var(--teal-400);
  color: white;

  padding: 25px;
}

.content {
  grid-area: content;

  background-color: var(--teal-50);

  padding: 25px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.book-card {
  padding: 10px;
  border: solid 1px black;
  height: 200px;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
